{% extends 'base.html.twig' %}

{% block body %}
<section class="header">
    <div class="container">
        <h1 class="bannerTitle">FORTNITE WORLD CUP</h1>
    </div>
</section>

<section>
    <div class="container">
        <h2>Three random players</h2>

        <!-- Template 3 random players here-->

        <a href="{{ path("player_index") }}">See all players</a>
    </div>
</section>
<hr>
<section>
    <div class="container">
        <h2>WHAT IS FORTNITE WORLD CUP ?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci, aspernatur assumenda commodi debitis dolores eligendi esse et illo illum ipsa molestiae nam praesentium quasi repellat sed sequi voluptatum? Fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam consequatur dicta facere harum id, illo ipsam iste iure labore libero quisquam velit. Aspernatur beatae consectetur id minus quam ullam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi corporis culpa deserunt dolor, eos error esse iusto libero magnam mollitia nam neque officia quam suscipit tenetur totam ut! Vitae.</p>
    </div>
</section>
{% endblock %}